<%= form_with(model: contacts_csv_file) do |form| %>
  <% if contacts_csv_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contacts_csv_file.errors.count, "error") %> prohibited this file from being saved:</h2>

      <ul>
        <% contacts_csv_file.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex gap-3">
    <div class="field">
      <%= form.file_field :data, class: 'form-control', accept: 'text/csv' %>
    </div>

    <div class="actions align-self-end">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
