<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="title-section d-flex justify-content-between">
  <h3 class="title">Listing Files</h3>
  <div class="actions">
    <%= link_to new_contacts_csv_file_path, class: 'btn btn-primary btn-sm' do %>
      <i class="bi bi-cloud-upload"></i> Upload File
    <% end %>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Status</th>
      <th>User</th>
      <th>Uploaded at</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts_csv_files.each do |contacts_csv_file| %>
      <tr>
        <td><%= contacts_csv_file.name %></td>
        <td><%= contacts_csv_file.status %></td>
        <td><%= contacts_csv_file.user&.email %></td>
        <td><%= l contacts_csv_file.created_at, format: '%Y/%m/%d %H:%M' %></td>
        <td><%= link_to 'Show', contacts_csv_file %></td>
      </tr>
    <% end %>
  </tbody>
</table>
