<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="title-section">
  <h3 class="title">Uploaded File Details</h3>
</div>

<p>
  <strong>File:</strong>
  <a href="<%= url_for(@contacts_csv_file.data) %>">
    <%= @contacts_csv_file.name %>
  </a>
</p>

<div class="card">
  <div class="card-body">
    <p>
      <strong>Status:</strong>
      <%= @contacts_csv_file.status %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @contacts_csv_file.user&.email %>
    </p>

    <p>
      <strong>Contacts Imported:</strong>
      <%= @contacts_csv_file.contacts.count %>
    </p>
  </div>
</div>

<div class="title-section">
  <h4 class="title">Contacts</h4>
</div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Date of Birth</th>
    <th>Phone</th>
    <th>Imported By</th>
    <th>Address</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @contacts_csv_file.contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= l contact.dob, format: '%Y/%m/%d' %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.user&.email %></td>
      <td><%= contact.address %></td>
      <td><%= link_to 'Show', contact %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', contacts_csv_files_path %>
