<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="mb-3">
        <h3>Sign Up</h3>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'shadow p-4' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field mb-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mb-3">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="field mb-3">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="actions mb-3">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>
        <hr>

        <p class="text-center mb-0">If you have not account <%= render "devise/shared/links" %></p>
      <% end %>
    </div>
  </div>
</div>
