<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="title-section">
  <h3 class="title">Listing Contacts</h3>
</div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Date of Birth</th>
    <th>Phone</th>
    <th>Imported By</th>
    <th>Address</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= l contact.dob, format: '%Y/%m/%d' %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.user&.email %></td>
      <td><%= contact.address %></td>
      <td><%= link_to 'Show', contact %></td>
    </tr>
  <% end %>
  </tbody>
</table>
