<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="title-section">
  <h3 class="title">Contact Details</h3>
</div>

<div class="card">
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= @contact.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @contact.email %>
    </p>

    <p>
      <strong>Date of Birth:</strong>
      <%= l @contact.dob, format: '%Y/%m/%d' %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @contact.phone %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @contact.address %>
    </p>

    <p>
      <strong>Imported by:</strong>
      <%= @contact.user&.email %>
    </p>
  </div>
</div>

<div class="title-section">
  <h4 class="title">Credit Cards</h4>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Last 4 Card Number</th>
      <th>Franchise</th>
      <th>Creation</th>
    </tr>
  </thead>
  <tbody>
  <% @contact.credit_cards.each do |credit_card| %>
    <tr>
      <td><%= credit_card.last_four %></td>
      <td><%= credit_card.franchise %></td>
      <td><%= l credit_card.created_at, format: :short %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', contacts_path %>
