<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="mb-3">
        <h3>Login</h3>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'shadow p-4' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field mb-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mb-3">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mb-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions mb-3">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>

        <hr>

        <p class="text-center mb-0">If you have not account <%= render "devise/shared/links" %></p>
      <% end %>
    </div>
  </div>
</div>
