<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="bi bi-file-bar-graph"></i> ImportX</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="<%= current_page?(contacts_csv_files_path) ? 'nav-link active' : 'nav-link' %>"
             href="<%= contacts_csv_files_path %>">Uploaded Files</a>
        </li>
        <li class="nav-item">
          <a class="<%= current_page?(contacts_path) ? 'nav-link active' : 'nav-link' %>"
             href="<%= contacts_path %>">Contacts</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link"
               href="#">( <%= current_user.email %> )</a>
          </li>
          <li class="nav-item align-self-center">
            <%= link_to destroy_user_session_path, method: :delete, class: 'align-self-center btn btn-outline-danger btn-sm' do %>
              <i class="bi bi-arrow-left-square"></i> Sign Out
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>